.idea
__pycache__
.ipynb_checkpoint
.DS_Store
.vscode
sid-train-runs/
image_experiment/
proteina_eval/
protein_experiment/
pipeline_output*/
wandb/
training/proteina/checkpoints/
results*/
pretrained_checkpoints/

*.pt
*.pkl
*.pth
*.tar.gz
*.zip
*.png
*.log
.ipynb_checkpoints/

